.event-manager {
  display: flex;
  gap: 20px;
  padding: 50px 0 80px;
  flex-direction: column;
}
@media (min-width: 992px) {
  .event-manager {
    flex-direction: row;
    gap: 40px;
  }
}
.event-manager__left, .event-manager__right {
  width: 100%;
}
@media (min-width: 992px) {
  .event-manager__left, .event-manager__right {
    width: 50%;
  }
}
.event-manager__title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-manager__add-form-wrapper {
  margin-bottom: 30px;
}
.event-manager__edit-form-wrapper.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.events-list {
  position: relative;
}
.events-list__row {
  display: flex;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
.events-list__row-cell {
  padding: 6px 8px;
  display: flex;
  align-items: center;
}
.events-list__row-cell--name {
  width: 30%;
}
.events-list__row-cell--price {
  width: 20%;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
}
.events-list__row-cell--operations {
  width: 50%;
  gap: 5px;
}
.events-list__row-cell h3 {
  font-size: 16px;
  margin: 0;
}
.events-list__row:last-child:not(.events-list__row--head) {
  border-bottom: 1px solid gray;
}
.events-list__row--head {
  background-color: #e2e2e2;
  font-weight: bold;
}
.events-list__row.empty {
  padding: 10px;
}
.events-list__btn {
  cursor: pointer;
  border: 1px solid gray;
  outline: none;
  padding: 4px;
}
@media (min-width: 992px) {
  .events-list__btn {
    padding: 5px 10px;
  }
}
.events-list__btn:hover, .events-list__btn.active {
  background-color: #535353;
  border: 1px solid #535353;
  color: #fff;
}
.events-list__body {
  margin: 0;
  padding: 0;
  list-style: none;
}
.events-list.loading {
  opacity: 0.6;
}
.events-list.loading::after {
  content: url(../images/spinner.gif);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-admin-form {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  border: 1px solid gray;
  padding: 10px;
  gap: 10px;
  position: relative;
}
@media (min-width: 992px) {
  .events-admin-form {
    padding: 15px;
    flex-direction: row;
  }
}
.events-admin-form__column {
  width: 100%;
}
@media (min-width: 992px) {
  .events-admin-form__column--40 {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .events-admin-form__column--60 {
    width: 60%;
  }
}
.events-admin-form__control.submit {
  text-align: right;
}
.events-admin-form__control.file {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.events-admin-form__control * {
  font-size: 14px;
}
.events-admin-form__message {
  margin-top: 0;
  font-size: 14px;
}
.events-admin-form #current-image img {
  height: auto;
  max-width: 100%;
  -o-object-position: top;
     object-position: top;
}
.events-admin-form input[type=submit] {
  padding: 5px 40px;
  cursor: pointer;
}
.events-admin-form input[type=text],
.events-admin-form input[type=number],
.events-admin-form textarea {
  padding: 6px;
  width: 100%;
  margin-bottom: 10px;
}
.events-admin-form textarea {
  resize: none;
  margin-bottom: 0;
}
.events-admin-form label {
  margin-bottom: 10px;
  display: block;
}
.events-admin-form.loading {
  opacity: 0.6;
}
.events-admin-form.loading::after {
  content: url(../images/spinner.gif);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-description {
  position: relative;
}
@media (min-width: 992px) {
  .event-description {
    margin-top: 50px;
  }
}
.event-description.loading {
  opacity: 0.6;
}
.event-description.loading::after {
  content: url(../images/spinner.gif);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-description__container {
  padding: 20px;
  background-color: #e2e2e2;
  border: 1px solid gray;
}
.event-description__container::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.event-description__image {
  float: left;
  margin-right: 15px;
  max-width: 50%;
}
@media (min-width: 992px) {
  .event-description__image {
    margin-width: 100%;
  }
}
.event-description__image img {
  width: 100%;
}/*# sourceMappingURL=events.css.map */