.event-manager {
  display: flex;
  gap: 60px;
  padding: 50px 0 80px;

  &__left,
  &__right {
    width: 50%;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__add-form {
    display: none;

    &.visible {
      display: block;
    }
  }

  &__edit-form {
    display: none;

    &.visible {
      display: block;
    }
  }
}

.events-list {
  position: relative;

  &__row {
    display: flex;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;

    &-cell {
      padding: 6px 8px;

      &--name {
        width: 30%;
      }

      &--price {
        width: 20%;
        border-right: 1px solid gray;
        border-left: 1px solid gray;
      }

      &--operations {
        width: 50%;
      }

      h3 {
        font-size: 16px;
        margin: 0;
      }
    }

    &:last-child:not(.events-list__row--head) {
      border-bottom: 1px solid gray;
    }

    &--head {
      background-color: #e2e2e2;
      font-weight: bold;
    }

    &.empty {
      padding: 10px;
    }
  }

  &__btn {
    cursor: pointer;

    &--add {
      padding: 5px 40px;
      font-size: 14px;
    }
  }

  &__body {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &.loading {
    opacity: 0.7;

    &::after {
      content: url(../images/spinner.gif);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.events-admin-form {
  display: flex;
  flex-direction: row;
  background-color: #e2e2e2;
  border: 1px solid gray;
  padding: 15px;
  gap: 10px;
  position: relative;

  &__column {
    &--40 {
      width: 40%;
    }

    &--60 {
      width: 60%;
    }
  }

  &__control {
    &.submit {
      text-align: right;
    }

    &.file {
      padding-top: 10px;
      display: flex;
      flex-direction: column;
    }

    * {
      font-size: 14px;
    }
  }

  input[type="submit"] {
    padding: 5px 40px;
    cursor: pointer;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    padding: 6px;
    width: 100%;
    margin-bottom: 10px;
  }

  textarea {
    resize: none;
    margin-bottom: 0;
  }

  label {
    margin-bottom: 10px;
    display: block;
  }

  &.loading {
    opacity: 0.7;

    &::after {
      content: url(../images/spinner.gif);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.event-description {
  padding-top: 50px;

  &__container {
    padding: 20px;
    background-color: #e2e2e2;
    border: 1px solid gray;

    &::after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }
  }

  &__image {
    float: left;
    margin-right: 15px;
  }
}
