@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.site-header {
  background-color: #e2e2e2;
  padding: 20px 0;

  &__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    .menu-item {
      margin-right: 20px;

      a {
        color: black;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          text-decoration: underline;
        }
      }
    }

    .current-menu-item {
      a {
        text-decoration: underline;
      }
    }
  }
}

.site-footer {
  background-color: #e2e2e2;
  padding: 20px 0;
  text-align: center;
}

body {
  margin: 0;
}

html {
  margin-top: 0 !important;
}

h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 16px;
}

#primary {
  min-height: calc(100vh - 120px);
}
